body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.dashboard {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-section {
  max-width: 1200px;
  margin: 0 auto;
}

#homeSection h2 {
  color: #333;
}

#homeSection p {
  color: #666;
}

.dashboard-overview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  background: #28a745;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  width: auto;
  text-align: center;
}

.card h3 {
  margin: 0 0 10px 0;
}

.recent-orders, .best-sellers, .user-activity {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #28a745;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Home.css */
.best-sellers {
  position: relative;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  padding: 1rem 0;
}

.best-sellers ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.best-sellers li {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 1rem;
  padding: 1rem;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.best-sellers li:last-child {
  margin-right: 0;
}

.best-sellers h4 {
  color: #333;
  margin-bottom: 0.5rem;
}

.best-sellers p {
  color: #666;
  margin-bottom: 0.5rem;
}

.best-sellers button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.best-sellers button:hover {
  background-color: #0056b3;
}
