/* Home.css */
body{
  font-family: 'Times New Roman', Times, serif;
}

.dashboard {
    padding: 20px;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
  }
  
  .home-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #welcomeMessage {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .dashboard-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .feature {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feature h3 {
    color: #007BFF;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .feature p, .feature ul {
    color: #666;
    line-height: 1.6;
  }
  
  .feature ul {
    padding-left: 20px;
  }
  
  .feature ul li {
    margin-bottom: 5px;
  }
  
  /* Media Query for screens smaller than 720px */
  @media (max-width: 720px) {
    .dashboard-overview {
      flex-direction: column;
      align-items: center;
    }
  
    .feature {
      flex: 1 1 100%;
      max-width: 100%;
      padding: 15px;
    }
  
    .feature h3 {
      font-size: 18px;
    }
  
    .feature p,
    .feature ul {
      font-size: 0.9em;
    }
  
    .feature ul {
      padding-left: 15px;
    }
  
    #welcomeMessage {
      font-size: 18px;
    }
  }
  